* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  background: #223;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  height: 9vh;
}

.wrapper {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.sources {
  text-align: center;
  text-decoration: none;
  color: white;
  width: 15vw;
  height: 7vh;
  font-size: 150%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  background-color: #223;
  border-radius: .75rem;
  border: 0.2vw solid #112;
  margin-left: 44vw;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: #223;
  color: white;
  font-size: 150%;
}

.srcButton {
  text-align: center;
  text-decoration: none;
  color: white;
  width: 5vw;
  height: 7vh;
  font-size: 100%;
  background-color: #223;
  border-radius: .75rem;
  border: 0.2vw solid #112;
}

.transition-fade {
  opacity: 1;
  transition: 1500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}
