.transition-fade {
  opacity: 1;
  transition: 1250ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(-75%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(75%);
}